/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --background-main-color: #d79cb3;
  /* --panel-color: #f7f3f0; */
  --panel-color: #d59fb2;
  --custom-pink-color: #f69da9;
  --custom-cyan-color: #49c8d8;
}
body {
  font-family: "Droid Sans", sans-serif;
  background-color: var(--background-main-color);
  height: 100vh;
  display: flex;
  align-items: center;
}
.settings-panel {
  margin: 20px auto;
  background-color: var(--panel-color);
  border-radius: 20px;
  padding: 20px;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

@media (max-width: 420px) {
  .container {
    width: 300px;
  }
}
@media (min-width: 421px) and (max-width: 767px) {
  .container {
    max-width: 80%;
  }
}

.settings-title {
  font-size: 36px;
  color: #223347;
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}

/* Sound Control Buttons */
.sound-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.sound-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #89d8e6;
  border: 2px solid #555;
  cursor: pointer;
}

.sound-circle:nth-child(odd) {
  background-color: var(--custom-pink-color);
}

/* Slider */
.slider-section {
  margin: 20px 0;
}

.slider { 
  -webkit-appearance: none;
  background-color: #d8f1f7;
  border-radius: 10px;
  height: 10px;
  position: relative;
  margin: 10px auto;
  width: 80%;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  background: #89d8e6;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #49c8d8;
  border: 2px solid #fff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #49c8d8;
  border: 2px solid #fff;
  cursor: pointer;
}

/* Circular btn Control */
.circle-control {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.circle-btn {
  width: 100px;
  height: 100px;
  background: conic-gradient(
    var(--custom-pink-color) 0% 25%,
    var(--custom-cyan-color) 25% 50%,
    var(--custom-pink-color) 50% 75%,
    var(--custom-cyan-color) 75% 100%
  );
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.circle-btn::before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  font-size: 14px;
  color: #555;
}
